/*Shrink's things*/
* {
	margin:0px;
	padding: 0px;
}

h1 {
	margin: 0px 0px 15px 0px;
}

/*Need to add space to paragraph bottom margin*/
p{
	margin: 0px 0px 15px 0px;
}

ul {
	margin: 10px 0px 30px 15px;
}

/*Spacing between li elements...margin or padding??*/
li{
	margin: 0px 0px 5px 0px;
}

dt {
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	text-align: right;
	padding: 0 26px 0 0;
	width: 150px;
	float: left;
	height: 100px;
	border-right: 1px solid #999;
}

dd {
	width: 600px;
	float: right;
}

dd.break {
	float: none;
	margin: 0;
	height: 15px;
}

.break { clear: both; }

.vertical-line{
	padding-left: 20px;
	display: inline-block;
	border-left: 2px solid #000000;
}

#picture-profile{
	/*box-shadow: 3px 3px 3px 3px grey ;*/
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 7px 30px 0 rgba(0, 0, 0, 0.19);
	float: right;
	position:relative;
	right:40px;
	top:-5px;
	border: thick solid white;
    	-ms-transform: rotate(-6deg); /* IE 9 */
    	-webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    	transform: rotate(-6deg);
}

/*shrink span element*/
span {
	font-style: italic;
	font-family: Serif;
	font-size: 15px;
	color: grey;
	font-weight: normal;
}

/*
Second main
*/

#bodyContainer {
	font: 16px Helvetica;
	line-height: 20px;
	}

	#container {
		width: 800px;
		margin: 30px;
		auto: 55px;
	}
  #careerObjectives {
		width: 500px;
		float: left;
		font-size: 18px;
		font-family: serif;
		font-style: italic;
		color: grey;
	}
