#title-name {
	font-family: sans-serif	
}

.vertical-line{
	border-left: thick solid #ff0000

}


#picture-profile{
	float: right;
	position:relative;
	top: -80px;
	right: 30px;	
	margin:10px 10px 10px 10px;
	border: thick solid white;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}



